*.png filter=lfs diff=lfs merge=lfs -text
*.jpg filter=lfs diff=lfs merge=lfs -text
**/secrets/** filter=git-crypt diff=git-crypt
**/secrets/**/desktop/** filter=git-crypt-desktop diff=git-crypt-desktop
**/secrets/**/lenovo-laptop/** filter=git-crypt-lenovo-laptop diff=git-crypt-lenovo-laptop
**/secrets/**/virtualbox/** filter=git-crypt-virtualbox diff=git-crypt-virtualbox
**/secrets/**/rpi4/** filter=git-crypt-rpi4 diff=git-crypt-rpi4
**/secrets/**/octoprint-rpi2/** filter=git-crypt-octoprint-rpi2 diff=git-crypt-octoprint-rpi2
**/secrets/**/tmserver/** filter=git-crypt-tmserver diff=git-crypt-tmserver
